[2020-07-23 19:11] RibbonMoon opened #3 "Youtube-dl gives error extracting video data on playlists and does not process any videos in list"
Is it possible to implement a feature that allows Youtube-dl to ignore errors in playlists and continues to the next item, the CLI has the --ignore-errors that can be used, but I cannot see any way to pass this to the docker version.

[2020-07-23 21:01] Borkuz opened #4 "Arm/Raspberry Pi compatibility"
I would love to see arm/raspberry pi compatibility. If you need help testing I'm willing to help you!

[2020-07-24 06:31] blackerking opened #5 "Soundcloud extraction doesn't work"
When using youtube-dl as standalone program it can download files from soundcloud.com.
Otherwise you're using the docker container it cannot:
ERROR: requested format not available

[2020-07-27 05:42] nbr23 commented on #5
Hi @blackerking,
Thanks for the issue, this should be fixed with https://github.com/nbr23/youtube-dl-server/commit/e5a6c664c5af5be4d470c01c5ba2ab0daace9f68
Let me know if that doesn't work out. I basically updated the format being requested to be broader to prevent it from not finding what it wants.

Cheers,
Max

[2020-07-27 05:43] nbr23 commented on #3
Thanks @RibbonMoon for this issue.
Would you have a playlist with errors you can share so I can do some tests around this?
Cheers,
Max

[2020-07-27 18:05] nbr23 commented on #4
Hi @Borkuz,
I had a Pi 3 B+ hanging around and gave it a shot, seems to be working fine out of the box in there.
If you want to try it out and let me know if you get any issues that would be great!

Cheers,
Max

[2020-07-27 18:43] Borkuz commented on #4
I just tried to run it on my rpi4 running the latest version of raspbian and get the following error in the log `standard_init_linux.go:211: exec user process caused "exec format error"`

The command I ran was `docker run -d --name youtube-dl -v /mnt/share/youtube-dl:/youtube-dl nbr23/youtube-dl-server`

Is pulls all the required files but can't seem to start for some reason

[2020-07-27 20:51] nbr23 commented on #4
Ah yes I see, indeed if you try to pull from docker hub it won't give you an arm image but the x86_64 image that it builds automatically from github.
The easiest would be to build the image on your pi yourself (that's what I did here):
`docker build https://github.com/nbr23/youtube-dl-server.git -t youtube-dl-server`
And then run your container.
Cheers,
Max

[2020-07-28 17:22] Borkuz commented on #4
I'm getting closer, after running above command but still get an error.
`Outdated jbos table, cleaning up and recreating,
Traceback (most recent call last):,
  File "./youtube-dl-server.py", line 114, in <module>,
    JobsDB.init_db(),
  File "/usr/src/app/ydl_server/logdb.py", line 72, in init_db,
    cursor.execute("CREATE TABLE if not exists jobs \,
sqlite3.OperationalError: database is locked,

[2020-07-28 18:05] blackerking commented on #5
Worked like a charm. Thank you.

[2020-07-28 18:05] #5 closed

[2020-07-29 01:24] nbr23 commented on #4
Yes that sounds like a permission problem on your station. Make sure the share is writeable by the user the container runs as and you should be good to go :)

[2020-08-02 05:59] #4 closed

[2020-08-03 07:06] RibbonMoon commented on #3
Hi

The URL i was trying was https://www.youtube.com/playlist?list=PLKf0gyS5rgHfV0C_Hp7ywR5sxwvUK1lX0 for my elderly parents who love Andre Rieu, However the first concerts have now been removed by youtube, What I was trying to do was to download the ones that were left in the list.

All the best.

Ribbon

[2020-08-03 23:25] nbr23 commented on #3
Thanks @RibbonMoon !
https://github.com/nbr23/youtube-dl-server/commit/9267f59221bc048301afe120d3303936fedf6cf9 adds the possibility to pass any argument to youtube-dl's engine. As a default in the config, I have made it ignore errors on playlist downloads (by passing 'ignoreerrors').
All you should need is to pull the latest.

Cheers!
Max

[2020-08-04 21:30] RibbonMoon commented on #3
This works perfectly now and downloads the lists fine. thanks.

[2020-08-06 23:11] nbr23 commented on #3
Awesome, thanks for the feedback :)

[2020-08-06 23:11] #3 closed

[2020-08-17 16:28] sanmadjack opened #7 "How to use YDL_RAW_OPTIONS"
I don't understand how I can define a dictionary as an environment variable in  a docker environment file, or otherwise. Googling isn't revealing anything helpful so far. Can you clarify how to do this?

[2020-08-17 23:44] nbr23 commented on #7
Hi @sanmadjack
At this moment the easiest would be to not use environment variables, but use a custom `ydl_server/config.py` to set the variable.
If using docker-compose you could edit a local config.py with your options and then add something along those lines in your service:
[code]

I am not very satisfied with config management right now, so this should change soon.
Cheers

[2020-09-01 01:03] SugiuraAyano opened #9 "Can't not download video and load queue website"
Hi I'm using this on Synology NAS and when i submit a youtube link. It gets 404 Error and can't download video.

Logs here
![image](https://user-images.githubusercontent.com/44806508/91783114-ae4c2580-ec31-11ea-9ae4-c0b0800d40ec.png)
Website
![image](https://user-images.githubusercontent.com/44806508/91783165-d6d41f80-ec31-11ea-9023-539d1ce20938.png)

[2020-09-01 01:10] #9 closed

[2020-09-08 14:56] damntourists opened #10 "sqlite3.OperationalError: database is locked error"
Hi there,

I'm attempting to run this in portainer and getting the following error whenever starting the container:

[code]

Any ideas?

[2020-09-24 00:41] mick-pihole opened #11 "Filename too long?"
[youtube] mHhRQFknA0g: Downloading webpage
ERROR: unable to open for writing: [Errno 36] Filename too long: '/youtube-dlc/

anyway to trim the filename?

[2020-09-24 00:53] nbr23 commented on #11
A quick and easy workaround would be to edit `YDL_OUTPUT_TEMPLATE` in https://github.com/nbr23/youtube-dl-server/blob/master/ydl_server/config.py. Perhaps the title of the video you're trying to get makes the filename too long.
Would you be able to share a link that causes the issue?

Thanks!

[2020-09-24 01:39] mick-pihole commented on #11
[shorturl.at/qLOQY](shorturl.at/qLOQY)

the problem is I'm using a web front end, I don't know how to make the web server use YDL_OUTPUT_TEMPLATE param.
I tried to edit config.py, that seems not fixing the issue. I guess the web server does not use YDL_OUTPUT_TEMPLATE

I am using https://github.com/dotpanic/youtube-dlc-server , and he forked your code.

[2020-09-25 01:43] mick-pihole commented on #11
solved.
120 seenms too long..  👍
change config.py to:
YDL_OUTPUT_TEMPLATE': '/youtube-dlc/%(title).50s [%(id)s].%(ext)s',
'YDL_OUTPUT_TEMPLATE_PLAYLIST': '/youtube-dlc/%(playlist_title)s/%(title).50s [%(id)s].%(ext)s',

[2020-09-25 01:43] #11 closed

[2020-09-30 15:51] Matthww opened #12 "Worked at first now outputs error"
Hi after 1 video I downloaded I keep getting this error:

[code]

[2020-10-03 02:42] nbr23 commented on #12
Hi @Matthww,
I checked but did not get any issues. Can you give more info on your setup, versions, and youtube-dl version used?

Thanks!

[2020-10-03 02:44] nbr23 commented on #10
Hi @damntourists
This might be linked to rights issue on the sqlite db file? Can you double check that the user has write access to the db location?

Thanks,

[2020-10-05 05:57] damntourists commented on #10
That seems to be the issue! Thanks!

[2020-10-11 00:34] blackjack4494 commented on #11
@mick-pihole
I added a feature to trim long file names.
You might want to give it a try.

[2020-10-18 23:33] nickv2002 opened #14 "Kodi integration and NFO-file creation?"
I made a fork of this project and added [NFO-file creation](https://kodi.wiki/view/NFO_files) ([sample code](https://github.com/ToWatchList/twl-dl-server/blob/main/ydl_server/ydlhandler.py#L172-L207)) and basic [Kodi](https://kodi.tv) library integration ([sample code](https://github.com/ToWatchList/twl-dl-server/blob/main/youtube-dl-server.py#L123-L138)).

I can cut out these updates from my fork

[2020-10-19 23:51] nbr23 commented on #14
Hey @nickv2002,

Really cool work, thanks for linking to it!
I don't think merging it back is necessarily the best idea, while there's definitely value in your patches, they are a tad specific, and I would like to keep the main branch as generic and lightweight as possible.
I would be happy to add a link to your fork/patch in the README for easy access to users interested in kodi integrations if y

[2020-10-20 00:54] nickv2002 commented on #14
Sounds good.
Let me polish some more things up and then I'll post here again and you can link.
Thanks.

[2020-11-10 13:20] Cheezzhead opened #16 "'--add-metadata' option"
Is it possible to force the --add-metadata parameter to every initiated download? Using that parameter from the CLI within the container works fine, but I can't find a way to do this from the Web interface.

I think there might be a usable parameter to pass into the YDL_RAW_OPTS dict, but since all youtube-dl repo's are currently taken down due to a DMCA I can't find a complete list of available y

[2020-11-11 03:15] nbr23 commented on #16
Hi @Cheezzhead,

Thanks for the issue!
I am looking into making this easier and more generic in the future...

It won't be as easy as setting a raw option (which would be `'addmetadata': True`). When youtube-dl parses the options, it also adds the post processor value: `{'key': 'FFmpegMetadata'}`.

For now I have [dirtily hardcoded](https://github.com/nbr23/youtube-dl-server/commit/856ce81dbdd03a0

[2020-11-13 23:02] Naimkr27 opened #17 "add an option for the quality of videos higher than 1080"
Can you add this option? I will have the Videos in best quality. I have a 4K TV

[2020-11-13 23:19] Naimkr27 opened #18 "Raspbian"
Can you make a Container for the Raspberry Pi 4 with Raspbian.

Thanks.

[2020-11-13 23:40] nbr23 commented on #17
Hi @Naimkr27,
If you select the "best" video option in the dropdown menu, you should be getting the highest quality format available.
Note that some services might not offer anything higher than 1080p.

I just did a quick test with this random video that offers 4k (2160p): https://www.youtube.com/watch?v=6pxRHBw-k8M

If we check the metadata, we see in the formats list the 2160p, which weighs 328.

[2020-11-14 16:33] nbr23 commented on #18
Hi @Naimkr27,
Unfortunately, I don't think I can autobuild for arm on Dockerhub, which makes it a bit more cumbersome to have an arm image easily available.
Until I set something up, you can build it locally from the git repo.
I also have an ansible role that can help you out, it builds and deploys the container on the target: https://github.com/nbr23/ansible-role-youtubedl-server

Cheers,
Max

[2020-11-15 20:59] Naimkr27 commented on #18
Hi @nbr23,

thanks for your answer.
ich habe a problem, i don´t can start the Server.

This is the answer of the Program.
Using youtube-dl module
Traceback (most recent call last):
  File "./youtube-dl-server.py", line 119, in <module>
    JobsDB.check_db_latest()
  File "/home/pi/yt/youtube-dl-server/ydl_server/logdb.py", line 58, in check_db_latest
    conn = sqlite3.connect("file://%s" % app_de

[2020-11-15 21:05] nbr23 commented on #18
@Naimkr27,
Make sure the value of YDL_DB_PATH in the config file points to a valid directory and that the user running youtube-dl-server.py has write access to that folder.
This is most likely a rights issues, or the directory not existing.

Cheers,
Max

[2020-11-16 20:58] Naimkr27 commented on #18
Sorry Max, i don‘t can download Videos.
The Button don‘t work. And the Site are Not Complett load.
![AAE55DA4-C1C7-48F9-BDAF-8F46578E4DDD](https://user-images.githubusercontent.com/64653285/99307424-c73e9d00-2856-11eb-92b1-efe1aac7a57d.png)

[2020-11-17 01:32] nbr23 commented on #18
Easy fix, this is because you are missing the web libraries (bootstrap, jquery etc).
I have added a note in the README and a script to help out.
You can just run https://github.com/nbr23/youtube-dl-server/blob/master/bootstrap.sh once to download what is required and you should be good to go.

[2020-11-17 07:30] Naimkr27 commented on #18
Thanks, is run.

[2020-11-17 07:30] #18 closed

[2020-11-18 14:59] fl0r1s opened #19 "Changing file ownership after download"
What is the correct way of running the server as a particular user, so that the files are automatically owned by said user? I am currently running a compose file:

[code]

But the files are afterwards owned by `root:root`  instead of my user. Additionally, I would like to set all permissions, e.g. by `chmod 777` on the file.

What is the correct way to achieve this?

[2020-11-20 03:23] nbr23 commented on #19
Hello @fl0r1s

For the docker-compose, try using the [`user:`](https://docs.docker.com/compose/compose-file/#domainname-hostname-ipc-mac_address-privileged-read_only-shm_size-stdin_open-tty-user-working_dir) key instead of the environment variables.

I see no immediate clean way to set permissions after download. You could probably achieve this with umask or specific acl on the save directory. But

[2020-11-20 03:23] #19 closed

[2020-11-20 03:24] #17 closed

[2020-11-20 08:55] fl0r1s commented on #19
To anyone that also wants to achieve this:

Run this once:
[code]
You'll get an error about read/write perms. Follow up by issuing
[code]
Now your files are owned by user `${PUID}`, but still in group root.

[2020-11-20 08:57] fl0r1s commented on #19
Although its really not a nice solution. Is there no better way? Only specifying the `user` parameter does not work, as everything is owned by `root` so you just get permission errors. After a full recreate the database is owned by the user, but the directory is not.

[2020-11-20 15:20] nbr23 commented on #19
you can do:
[code]
This should help set the group for files created.

[2020-11-20 15:29] fl0r1s commented on #19
Yeah that works for the created files, but you still need to `chown` and `chmod` the directory or you are not allowed to write to the database file.

Also, when looking at the logs the following occurs:
[code]

[2020-11-22 07:31] UAEpro commented on #12
I got the same error
`super(type, obj): obj must be an instance or subtype of type`

[2020-11-22 16:50] nbr23 commented on #12
Hi @UAEpro, can you share more info on your setup, how you run youtube-dl-server (directly ? docker ? if so, share your docker-compose ?) so I can help you out?

Cheers!

[2020-11-24 21:55] nickv2002 commented on #14
I think my repo is performing pretty well now after testing for the last month. (Had a move over that time too so it took a while!). In any case if folks are looking for a version that can write metadata into Kodi-compatable NFOs and/or something that integrates with ToWatchList.com (a watch-later service I run) they can check out [twl-dl-server](https://github.com/ToWatchList/twl-dl-server) and y

[2020-11-24 21:55] #14 closed

[2020-11-25 18:44] RicardoVelaC opened #20 "Basic Login/Auth method"
Is possible to add an option to make the URL private? Like a basic HTTP Auth via browser or login page?

I want to publish my site on Internet for my private use when I'm out of my network. But I don't want to be public for everyone. Is now possible without auth?

PD: Actually I'm using a Synology NAS with docker. I have others containers published and accesible on internet but all of them have an

[2020-11-26 04:53] nbr23 commented on #20
Hi @RicardoVelaC,

As the goal is to keep this piece of software simple, there is no immediate plan to add this to youtube-dl-server.
It is definitely recommanded however to use nginx or another reverse proxy / web server to serve your content, and any of these will be able to perform the basic authentication.

I am not sure how well it would help with your Synology setup (you would likely need ng

[2020-11-26 04:53] #20 closed

[2020-11-27 16:00] Leopere opened #21 "Accepts URL but then doesn't function."
[code]
Container startup logs not sure what's broken here, I'm not a python guy.

[2020-11-28 19:07] nbr23 commented on #21
Hello @Leopere,
This looks more like an issue with youtube-dl and a specific extractor (for spiege tv here).
Hopefully this gets fixed with newer versions of youtube-dl.
If you have a link to share, I can look further.
Cheers!

[2020-11-28 19:08] nbr23 commented on #16
Hello,

With the most recent updates, you can just use the config.yml as such:

[code]

Cheers!

[2020-11-28 19:08] #16 closed

[2020-11-28 19:40] Leopere commented on #21
Seemed like the YouTube-dl update doesn’t happen.

On Sat, Nov 28, 2020 at 2:07 PM Max <notifications@github.com> wrote:

[2020-11-28 21:56] nbr23 commented on #21
Can you share a URL so I have a look?
Thanks!

[2020-11-29 03:04] Leopere commented on #21
I’d like to not make it public and I’m not sure github has a private
message option for some reason still.

On Sat, Nov 28, 2020 at 4:57 PM Max <notifications@github.com> wrote:

[2020-11-29 05:57] nbr23 commented on #21
No problem @Leopere, I understand.
I have found some test URLs in the youtube-dl test scenarios and I think I found the issue and should be able to push a fix shortly.
Thanks!

[2020-11-29 06:12] nbr23 commented on #21
The issue seems to have been that youtube-dl-server by default uses `bestvideo` as format, which does not seem to exist in spiegeltv/spiegel.de. https://github.com/nbr23/youtube-dl-server/commit/933072954b5e5c0075b5169257f03a50f8f17bb0 fixes this by defaulting to `best` instead, which makes much more sense.

I have tried with a few spiegel urls after applying this fix and it seems to be working fi

[2020-12-02 10:56] Cheezzhead commented on #16
Works like a charm, thanks!

[2020-12-11 02:24] #21 closed

[2020-12-15 10:02] Matthww commented on #12
Sorry for the late reply. I have no idea what youtube_dl version etc I was using back then. I just got the time to reinstall everything and I will report back with the info if the problem occurs again!

[2020-12-15 15:51] nbr23 commented on #12
Sounds good, thanks @Matthww !

[2020-12-31 01:16] #7 closed

[2021-01-01 20:10] amitsax opened #24 "youtubedl is downloading in config folder"
Docker image does not seem to care for the YDL_ environment variable:
- YDL_OUTPUT_TEMPLATE=${YOUTUBEDL_OUTPUT_TEMPLATE}

When I tried to redirect config.yml to config folder using -
YDL_CONFIG_PATH=/youtube-dl/config.yml

I get these errors:

Traceback (most recent call last):
File "/usr/src/app/./youtube-dl-server.py", line 10, in
from ydl_server.logdb import JobsDB, Job, Actions, JobType
File "

[2021-01-03 05:15] nickv2002 opened #25 "Large Log Sizes cause UI Lockup - Log Rotate or clear old items?"
I ran regular updates with the server for a few months and eventually got the log size up to 1.2M

[code]

This seemed to cause the UI to lock-up/fail to load; simple fix was to delete the log file and everything started working again as expected. Perhaps some way to rotate or clear old items from the log would be a good feature?

Figured I'd post here as a FYI in case anyone has similar issues an

[2021-01-03 19:28] nbr23 commented on #25
Hi @nickv2002 ,

Thanks for the issue, that's an interesting one. An immediate action that can be taken that should help is to go to the Logs tab and his "Purge Logs". I have just added an sqlite vacuuming after the purge log (https://github.com/nbr23/youtube-dl-server/commit/4e431005ae59277c9355154285a6f4faa228776a), so that sqlite shrinks the db after cleaning up the log entries.
I will definite

[2021-01-03 22:35] nickv2002 commented on #25
I tried the "Purge Logs" but the UI was so slow that it didn't work. Underlying issue is probably with the API actually because I tried the "Purge Logs" via the API call too but that didn't work either.  It's no big deal to delete the file and start over so not a major issue, just an areas to consider for future improvements. Thanks!

[2021-01-04 02:11] nbr23 commented on #25
Ah alright, I see. I will do more testing on my end and work on this. Thanks again!

[2021-01-05 00:20] nbr23 commented on #24
Hi @amitsax ,
Thank you for this issue, I will look into that!
Can you share the content of you `/youtube-dl/config.yml` as it seems there might be a syntax error in there?

The `YDL_OUTPUT_TEMPLATE` variable being ignored is something I am working on now and should resolve soon.

Cheers!

[2021-01-05 03:47] angrycuban13 commented on #24
Is `config.yml` a required file now?

[2021-01-05 04:27] nbr23 commented on #24
Hi @angrycuban13,
Thanks for the note, I actually was looking at DockSTARTer today and wanting to fix the config.yml issues, so I will check that right now.
Thanks for the explanations, much clearer to me now!

Cheers!

[2021-01-05 04:42] nbr23 commented on #24
@angrycuban13
Ok so I do copy a default config.yml in the image at build (not first run) https://github.com/nbr23/youtube-dl-server/blob/4e431005ae59277c9355154285a6f4faa228776a/Dockerfile#L16
If you removed `- ${DOCKERCONFDIR}/youtube-dl/config.yml:/usr/src/app/config.yml:ro` from your compose, you will get the default config.yml.

What I think you want us to accomplish here is for the image to c

[2021-01-05 11:57] nemchik commented on #24
Correct @nbr23 that's exactly it.

[2021-01-05 20:50] Naimkr27 opened #26 "youtube-dl don´t start"
hi,

i have a Problem zu start youtube-dl

The Answer of this is:
Using youtube-dl module
Traceback (most recent call last):
  File "./youtube-dl-server.py", line 10, in <module>
    JobsDB.check_db_latest()
  File "/root/youtube-dl/ydl_server/logdb.py", line 58, in check_db_latest
    conn = sqlite3.connect("file://%s" % app_config['ydl_server'].get('metadata_db_path'), uri=True)
sqlite3.Operatio

[2021-01-06 00:57] nbr23 commented on #24
Alright @nemchik , @angrycuban13 I pushed some changed to [dev-config](https://github.com/nbr23/youtube-dl-server/commit/647273d4a78759a6393a996ca5244eec3f571d5c).
If you want to give it a shot, you can use the dev-config tag on the docker image `docker pull nbr23/youtube-dl-server:dev-config`. I still need to do a few more tests before merging into master but now a few scenarios are possible:

1.

[2021-01-06 02:09] angrycuban13 commented on #24
I think that definitely covers most bases. I will test all options and report back!

[2021-01-06 02:46] angrycuban13 commented on #24
Okay. I can verify that the first scenario works.

![first scenario](https://sharex.angrycuban.xyz/XExe1/xOcEraLo20.png/raw)

Second scenario seems to work as well:

![second scenario](https://sharex.angrycuban.xyz/XExe1/gARogULO88.png/raw)

Third scenario is working as well:
[code]
![third scenario](https://sharex.angrycuban.xyz/XExe1/wOLinocE31.png/raw)

Fourth scenario also working:
[code]
![fo

[2021-01-06 04:00] nbr23 commented on #26
Hi @Naimkr27 ,

Thanks for the issue, let's try to get you fixed up!
First of call, it seems you are running this locally, without docker, is that correct?
If that is the case, can you confirm the value of the `metadata_db_path` variable in `config.yml` in your setup?
If you have left it to the original value, then it will try to write the internal metadata in `/youtube-dl/.ydl-metadata.db`, which

[2021-01-06 04:10] nbr23 commented on #24
Oh wow you are awesome, thanks a lot @angrycuban13

I did forget about people not using docker, so I pushed https://github.com/nbr23/youtube-dl-server/commit/9aebd64180e769d22765286eba25498bfe48d764 which sets `YDL_CONFIG_PATH` to /app_config in the Dockerfile, and otherwise in the python code, I will default to the current working directory for people who would be running it directly.

Adding a f

[2021-01-06 04:41] nbr23 commented on #24
Merged in master. Thanks again for the valuable help on this @angrycuban13  @amitsax, and thanks for your adding this project to DockSTARTer!

I will leave this issue open as I still need to work on @nemchik's original ask about using environment variables to pass configuration items. I am still considering whether it is worth it / not too messy.

Cheers!

[2021-01-06 23:04] Naimkr27 commented on #26
yes, is work.

thanks

[2021-01-06 23:20] nbr23 commented on #26
Great, thanks for the confirmation :)

[2021-01-06 23:20] #26 closed

[2021-01-10 10:37] damntourists commented on #10
Hi there, sorry to revive a previously closed ticket -- I think I've figured out why this was causing errors and figured I'd let you know in case you weren't aware.

I had mounted a volume pointing to my network SMB 2 share which is mounted on ubuntu using cifs. It appears that sqlite does not behave well using NFS mounts, which is why I have been encountering this error.

[code]
source: https://s

[2021-01-10 16:45] nbr23 commented on #10
Hi @damntourists,

If you edit https://github.com/nbr23/youtube-dl-server/blob/master/config.yml and update the following line, you can have the sqlite db stored at another location:
`  metadata_db_path: '/youtube-dl/.ydl-metadata.db' # Path to metadata DB`

It could make sense to have it point for example to:
`  metadata_db_path: '/app_config/.ydl-metadata.db'`

Let me know how that works out for

[2021-01-10 23:29] damntourists commented on #10
Ok, that seems to have worked! This is what I wound up using:
[code]

I added in the environment variable because it appears it was defaulting to `/app_config/config.yml`.

Thanks again for your help! It's working perfectly now!

[2021-01-10 23:29] #10 closed

[2021-01-11 18:19] rogueralsha opened #27 "cookies option"
how can I use the youtube-dl or youtube-dlc cookies option with the new config setup?

[2021-01-11 20:02] nbr23 commented on #27
Hello @rogueralsha,

You can edit your [config.yml](https://github.com/nbr23/youtube-dl-server/blob/master/config.yml) to add in the `ydl_options` section something like:
`cookies: /app_config/cookies.txt`

For example, taking the default config file:
[code]

[2021-01-18 05:32] PDSCi996 opened #28 "Automatically monitor youtube updates and download the latest videos"
First of all, thank you very much for your hard work. I have some bloggers that I follow frequently on youtube. I need to download their latest videos to the local. I heard that flexget can monitor and push, so I installed it on my Synology docker. , But I don’t know why the setting has been unsuccessful. Could you please help me find the suitable reason? Here is my configuration.

web_server:
  b

[2021-01-18 05:54] PDSCi996 opened #29 "How to terminate an ongoing task"
Handy, I added a youtube playlist with many files, and suddenly I don’t want to download it. Restarting the container will still continue. How can I terminate the download of this playlist, or terminate a task that is waiting to be downloaded.
Greatful.

[2021-01-18 18:26] nickv2002 commented on #28
@PDSCi996 here's how I accomplish what you want to do

[TWL-DL-Server](https://github.com/ToWatchList/twl-dl-server) - Which is a fork of this project with only minor changes to scan for videos on ToWatchList.

[ToWatchList](https://towatchlist.com/) a free web service I wrote to track your Watch Later videos separately and more openly than YouTube.

[Pipedream](https://pipedream.com/) - A free we

[2021-01-20 00:51] #27 closed

[2021-01-20 00:51] #12 closed

[2021-01-20 01:04] nbr23 commented on #28
Hi @PDSCi996,

I have never used flexget, but it looks like it could do the trick.
Are you getting any logs that might help us in here either from flexget or from the youtube-dl-server container ?

At first glance, the target container url seems wrong, and should be:
`http://192.168.1.234:8080/api/downloads` to point to the correct end point. Perhaps try this edit and see if it works better.

If n

[2021-01-20 18:04] nickv2002 commented on #28
@PDSCi996 thinking about this more, if you don't need the Watched/Favorite/App/etc you could cut ToWatchList & Pipedream out of the process by writing a 1-line script/cron to regularly download a YT playlist (optionally created by  auto-youtube-subscription-playlist-2) with YouTube-DL-Server.

[2021-01-21 12:50] PDSCi996 commented on #28
Thank you very much for your selfless help. I will study the website you gave me carefully.

[2021-01-21 12:57] PDSCi996 commented on #28
Thank you very much, my flexget has the latest log showing
"Stdout: /bin/sh: curl: not found"
My system uses synology, and I directly used the image of https://registry.hub.docker.com/r/wiserain/flexget/ in the above docker suite. I checked the docker image and found that there is no curl command in it. , My preliminary judgment is that the author did not encapsulate this command, which made the c

[2021-01-21 12:57] PDSCi996 commented on #28
Thank you very much, my flexget has the latest log showing
"Stdout: /bin/sh: curl: not found"
My system uses synology, and I directly used the image of https://registry.hub.docker.com/r/wiserain/flexget/ in the above docker suite. I checked the docker image and found that there is no curl command in it. , My preliminary judgment is that the author did not encapsulate this command, which made the c

[2021-01-21 15:04] nbr23 commented on #28
@PDSCi996 something like this should do:
https://github.com/nbr23/docker-flexget/commit/d197ca2187667d4fd08107018429f05fa821cd03

[2021-01-22 02:21] nbr23 commented on #25
Log rotating added in https://github.com/nbr23/youtube-dl-server/commit/172cf7b3778ecf2c9f2de72a70abcd9893e6658a
By default we will keep 100 entries. This can be edited in `config.yml`:
[code]

[2021-01-22 02:21] #25 closed

[2021-01-22 08:38] PDSCi996 commented on #28
Thank you very much for your hard work. I have seen that you have added two commands to the original container. I just don’t know how to use the new container you changed. I downloaded the modified file and uploaded it to Synology docker manually.  , The prompt is invalid, and then I don’t know what to do.

[2021-01-22 16:15] nbr23 commented on #28
@PDSCi996 I am not sure how synology handles docker, but you would need to build it first.
You can get it built from here otherwise: https://registry.hub.docker.com/r/nbr23/flexget/

[2021-01-22 17:21] PDSCi996 commented on #28
Thank you for your prompt reply. I have solved the problem of flexget. The rss information of youtube has been captured and pushed to youtune-dl, but the link address is all "https://www.youtube.com/watch?v=xZS-  "by-7gV4", the log prompts "Error during download task", I click retry, the log prompts "ERROR: requested format not available", what's the matter, is it my configuration problem?

[2021-01-22 18:52] nbr23 commented on #28
Do you know which format it tries to download?

[2021-01-23 04:03] PDSCi996 commented on #28
I installed one of your branches in my docker "https://github.com/ToWatchList/twl-dl-server", it made a little change based on yours, I used flexget to push to these two at the same time If the container has exactly the same parameters, this branch can be downloaded normally, but your container will prompt an error, and you don't understand the problem.

[2021-01-23 04:30] nbr23 commented on #28
I'm not sure I follow. Can you give me the video you are trying to download, which format you are asking, and the full `curl` command used  (or flexget config) ?

Thanks!

[2021-01-23 04:47] PDSCi996 commented on #28
Okay, I use the container "https://registry.hub.docker.com/r/wiserain/flexget/", and the author has replied to the solution on how to install the curl command "https://github.com /wiserain/docker-flexget/issues/21", after I installed the curl command, I restarted the docker container and it can be pushed normally. The following is my flexget configuration. I have followed 5 youtube channels in tot

[2021-01-23 04:48] PDSCi996 commented on #28
First of all, thank you very much for your hard work.
I saw that the "TWL-DL-Server" container was improved on the basis of "nbr23". When I set up, I created a "/config" path like nbr23. I thought it would be generated under this path. A "config.yml" configuration file, but I found no. I am using "flexget" to push the youtube address for automatic download. I hope that the youtube-dl parameter is

[2021-01-23 05:50] nickv2002 commented on #28
First of all: [TWL-DL-Server](https://github.com/ToWatchList/twl-dl-server) is a fork that adds integration with ToWatchList.com and [Kodi](https://kodi.tv) (via NFO files). It's a bit behind all the recent work that @nbr23 has put into the latest branch here on the latest branch so it still uses the "Legacy Config" (legacy being current from a month or so ago 😆). So if you aren't using the Kodi o

[2021-01-24 19:55] angrycuban13 opened #31 "[BUG] Invalid HTTP Request"
When trying to access the Web UI from `https://domain.com/youtube-dl` I get a 502 error and see the following in the logs
[code]
I'm running NGINX with LetsEncrypt and my main domain is behind a CF proxy and this had never been an issue.

This is my `nginx.conf`
[code]
This is my `proxy.conf`
[code]
This is my `ssl.conf`
[code]

[2021-01-26 12:28] jim60105 commented on #28
@PDSCi996  I think using IFTTT to connect Youtube → Webhooks should be more suitable than RSS monitor.

In addition, if you want to use RSS feeds and monitor locally, there are simpler services that can be used, such as [this](https://hub.docker.com/r/icewind1991/rss-webhook-trigger).
I haven't actually tested this image, but I can find a bunch of implementations with searching "rss trigger docker

[2021-01-30 14:55] virse opened #33 "No Downloading of Files"
Hey there,

after the last update YTDL doesn't seem to work anymore.

Whatever URL I try the download won't start. I already reinstalled the docker installation as mentioned in the readme.md

Here are the used config and docker-compose:

config.yml
[code]

docker-compose.yml
[code]

I had do chance the part `./config.yml:/usr/src/app/config.yml:ro` to `./config.yml:/app_config/config.yml:ro` other

[2021-01-30 17:36] nbr23 commented on #33
This is now fixed in https://github.com/nbr23/youtube-dl-server/pull/32 by @jim60105

[2021-01-30 17:36] #33 closed

[2021-02-02 07:21] PDSCi996 commented on #28
Thank you very much for your prompt reply. I have now configured the file and can download the video according to my requirements.
But there is a small problem. I accidentally added a playlist with thousands of video files. How can I stop the download or delete it from the waiting sequence?

[2021-02-02 07:28] PDSCi996 commented on #28
I checked the log today and the following error message appeared。

172.17.0.1 - - [02/Feb/2021 07:04:46] "GET /api/downloads/stats HTTP/1.1" 200 98 | stdout
172.17.0.1 - - [02/Feb/2021 07:04:46] "GET /api/downloads HTTP/1.1" 200 12547 | stdout
Added url https://www.youtube.com/watch?v=dFgu6Mb6KKg to the download queue | stdout
172.17.0.1 - - [02/Feb/2021 07:04:50] "POST /api/downloads HTTP/1.1" 20

[2021-02-02 23:22] nbr23 commented on #28
https://github.com/nbr23/youtube-dl-server/commit/91d9ef2e43a13288bd24e93202ba0c558f754f9c should fix the issue you are getting.

Thanks!

[2021-02-04 01:24] PDSCi996 commented on #28
Thank you very much for your hard work. This improvement has solved the problem very well. Now the problem of monitoring YouTube has been perfectly solved with flexget. You can download the daily updates of YouTube happily.
In the past few days, I saw a new youtube-dl container, which is very convenient to monitor YouTube updates. The address is "https://github.com/Jeeaaasus/youtube-dl". I suggest

[2021-02-04 03:08] nbr23 commented on #28
For the AtomicParsley error (from `--embed-thumbnail`) you should use this docker tag: `docker pull nbr23/youtube-dl-server:youtube-dl_atomicparsley`

The other errors seem to be typos.
- `--mergo-outpu-format` should be `--merge-output-format`
-  `--add-metadate` should be `--add-metadata`

[2021-02-04 08:49] PDSCi996 commented on #28
Sorry, I was careless and added extra trouble to you.
I have entered the parameters correctly,
"Ydl_server: # youtube-dl-server specific settings
  port: 8080 # Port youtube-dl-server should listen on
  host: 0.0.0.0 # IP youtube-dl-server should bind to
  debug: False # Enable/Disable debug mode
  metadata_db_path:'/youtube-dl/.ydl-metadata.db' # Path to metadata DB
  output_playlist:'/youtube-dl

[2021-02-04 23:03] nbr23 commented on #28
For AtomicParsley you need to use the docker image `nbr23/youtube-dl-server:youtube-dl_atomicparsley`

[2021-02-05 03:28] PDSCi996 commented on #28
Sorry, I did not understand what you mean. Do you mean if I want to use the "AtomicParsley" function, do I have to download a new container or install it in an existing container?

[2021-02-05 21:28] angrycuban13 commented on #31
@nbr23 👋

[2021-02-06 10:32] blackerking commented on #31
Same Error for me. I've made the sample.config for
https://github.com/linuxserver/docker-swag

[2021-02-06 12:16] blackerking commented on #31
@nbr23 It seems you have to enable proxyheaders and allowed IPs.
youtube-dl-server.py ->
forwarded-allow-ips='*', proxy-headers='true',

[2021-02-06 16:48] PDSCi996 commented on #28
Thank you very much. I have downloaded the docker image "nbr23/youtube-dl-server:youtube-dl_atomicparsley" and made a new deployment, but the image on February 4th seems to have a new bug.
I put the parameters on line 11 of "config.yml"
output:'/youtube-dl/%(title)s.%(ext)s' # output directory
change to
output:'/youtube-dl/%(uploader)s/%(title)s.%(ext)s' # output directory
When the container canno

[2021-02-06 18:19] nbr23 commented on #29
keeping this open, I am working on something :)

[2021-02-07 00:27] PDSCi996 commented on #29
Don't worry,you are busy first,and it has caused you a lot of trouble recently :)

[2021-02-07 19:58] nbr23 commented on #28
Oh, interesting find this one.
Thanks, I am working on a fix.

[2021-02-07 22:04] nbr23 commented on #31
Thanks @blackerking ‼
@angrycuban13 sorry for dragging my feet on this one ;) Try `https://github.com/nbr23/youtube-dl-server/commit/8cc9d7faefab878b31406a42a94e2eff05e92cdb`, editing the config.yml to set the forwarded allow ips to '*' as @blackerking mentioned and let us know!

Thanks!

[2021-02-07 22:05] nbr23 commented on #28
@PDSCi996  https://github.com/nbr23/youtube-dl-server/commit/566ebe3ea9f1297bf2367e3aa3564ea991751bbb should fix your issue.
Thanks, let me know if that works!

[2021-02-08 00:09] angrycuban13 commented on #31
@nbr23 hehe I don't blame you, I know I threw a bunch of stuff at you when I opened the issue.

However, still getting errors:
[code]
This is my config
[code]

[2021-02-08 00:11] angrycuban13 commented on #31
Okay I deleted my `config.yml` and let it pull a fresh one and I'm still having issues :/

[2021-02-08 00:31] nbr23 commented on #31
:( alright… Do you have a full stack config for your setup (in a docker-compose or something) so I can set the same thing up here to do some testing?

[2021-02-08 00:41] PDSCi996 commented on #28
Thank you for your hard work.
I use "youtube-dl_atomicparsley" in dockerhub
This new container is deployed, the config.yml parameters are as follows
ydl_server: # youtube-dl-server specific settings
  port: 8080 # Port youtube-dl-server should listen on
  host: 0.0.0.0 # IP youtube-dl-server should bind to
  debug: False # Enable/Disable debug mode
  metadata_db_path:'/youtube-dl/.ydl-metadata.db'

[2021-02-08 00:49] angrycuban13 commented on #31
This is my compose

[code]

[2021-02-08 01:04] nbr23 commented on #31
Thx, and where in your nginx config do you serve the youtube-dl content ?

[2021-02-08 01:09] angrycuban13 commented on #31
I run a container called [SWAG](https://hub.docker.com/r/linuxserver/swag) which has LE, NGINX and F2B bundled in.

This is what my `youtube-dl` subdirectory config looks like:
[code]

This is what the `proxy.conf` which is included in all my reverse proxies:
[code]
This is my `ssl.conf`
[code]

Let me know if you need anything else!

[2021-02-08 01:51] nbr23 commented on #28
Ok, it turns out alpine installs AtomicParsley as `atomicparsley` and youtube-dl looks for a binary called `AtomicParsley` so youtube-dl was not finding it, even when installed.
I have a workaround in place here: https://github.com/nbr23/youtube-dl-server/commit/413182c68d97792abb69455e8739c85dce27ef0d

I also submitted a PR to youtube-dl in case it can be fixed there https://github.com/ytdl-org/y

[2021-02-08 02:46] PDSCi996 commented on #28
Seeing your news, I came right away.
I have re-deployed the latest "youtube-dl_atomicparsley
"Mirror, log shows normal, as shown below
[youtube] QmMvEQJQDN8: Downloading webpage
WARNING: zh-CN subtitles not available for QmMvEQJQDN8
WARNING: zh-TW subtitles not available for QmMvEQJQDN8
WARNING: zh-Hans subtitles not available for QmMvEQJQDN8
WARNING: zh subtitles not available for QmMvEQJQDN8
[yo

[2021-02-08 04:04] nbr23 commented on #28
I think it does actually work.
If you can get a shell on your docker container and run `atomicparsley yourfile.mp4 -E`, you will see that it does extract a jpeg thumbnail from the video.

![image](https://user-images.githubusercontent.com/1313493/107174675-b8353a00-69c2-11eb-8012-20424f9dbced.png)

The reason why you still have the `jpg` file written on your disk is the `write-thumbnail: True` par

[2021-02-08 04:53] PDSCi996 commented on #28
As you said, I adjusted the parameter settings, and the thumbnails can be merged into the video file normally. It seems that my understanding of youtube-dl is not deep enough, and I will learn more in the future.  Thank you again for your hard work over many days.

[2021-02-08 08:45] PDSCi996 commented on #28
Sorry, there is a new bug.

The first bug is the prompt that appears when the youtube-dl is automatically updated when the container is restarted. The log is as follows. It appeared several times, and then it did not appear.
Requirement already satisfied: youtube-dl in /usr/local/lib/python3.9/site-packages (2021.2.4.1)
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, stat

[2021-02-09 03:18] nbr23 commented on #28
1 - I am not able to reproduce. From the error you are getting, it seems it had issues connecting to pypi.org at the time, and as such the upgrade failed. This is most likely either a local issue on your end or a problem with pypi.org at the time.

2 - The logs are telling you that it is downloading the whole playlist and that IF you only want the one video, you can add `--no-playlist`. As you hav

[2021-02-09 03:27] nbr23 commented on #31
Ok thanks, I'm able to get the error on my end :)
I will check and report back, sorry for the wait!

[2021-02-09 03:28] PDSCi996 commented on #28
I will pay attention to adding "" in the future.
This is the complete configuration of my "config.yml"

“ydl_server:   # youtube-dl-server specific settings
  port: 8080      # Port youtube-dl-server should listen on
  host: 0.0.0.0   # IP youtube-dl-server should bind to
  debug: False    # Enable/Disable debug mode
  metadata_db_path: '/youtube-dl/.ydl-metadata.db' # Path to metadata DB
  output

[2021-02-09 03:48] nbr23 commented on #31
Alright, this is weird, but it comes from the double `proxy_set_header Host  X;` (one in your `proxy.conf` one in your youtube-dl conf).

It doesn't make sense to me why nginx would actually take both into account and pass *2* Host headers, but that is the case.
From the [doc](https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_set_header), I do not understand this as being the behavio

[2021-02-09 03:50] nbr23 commented on #28
It's actually three backquotes ` not regular quotes to format as code ;) You can also select your code and use this button in github
![image](https://user-images.githubusercontent.com/1313493/107313156-e16ccd80-6a89-11eb-9096-f439feca5076.png)

Thanks for the info, I am checking your issue.

[2021-02-09 03:56] nbr23 commented on #28
That config works fine for me and downloads the full playlist in one folder under `/youtube-dl` named with the title of the playlist:
![image](https://user-images.githubusercontent.com/1313493/107313569-ba62cb80-6a8a-11eb-8bc0-6c8b99de87dc.png)

[2021-02-09 04:42] PDSCi996 commented on #28
I will first use flexget to automatically push the YouTube channels I have followed for a long time to the youtube-dl container every day. The videos downloaded by each different channel will be saved in a directory named after the channel name, and I will also download some  A previous video of a channel that has been following for a long time. At this time, a "channel name + videos" directory wi

[2021-02-09 04:43] PDSCi996 commented on #28
Thanks, I'm still new to GitHub.

[2021-02-09 14:08] angrycuban13 commented on #31
I'll remove the one within the actual reverse proxy block as it is already defined somewhere else and report back!

[2021-02-09 15:11] angrycuban13 commented on #31
Commenting this line out fixed it!
[code]

@blackerking maybe have LSIO update the `.conf` for youtube-dl?

[2021-02-09 18:59] blackerking commented on #31
I made a pull request:
https://github.com/linuxserver/reverse-proxy-confs/pull/287

[2021-02-10 03:51] angrycuban13 commented on #31
Let me see if I can get some traction on it

[2021-02-10 21:26] angrycuban13 commented on #31
I think we can close this now @nbr23

@blackerking thanks for opening that PR.

[2021-02-10 21:26] #31 closed

[2021-02-10 23:44] nbr23 commented on #31
Awesome, thank you both!

[2021-02-10 23:46] nbr23 commented on #28
Ultimately I think this is more of a youtube-dl issue / trick than something link to youtube-dl-server. The options you are setting are being fed and understood properly by youtube-dl. If the behavior of youtube-dl is not what you expect, this is not something I can act on in youtube-dl-server and you will need to check youtube-dl's doc / issues.

[2021-02-12 01:41] #28 closed

[2021-02-13 16:58] PDSCi996 opened #34 "New error in download"
I'm sorry to bother you again.
Today, a new error occurred when I used flexget to push YouTube videos. The following is the code. I directly grabbed two pictures.

This is the video address where the first error occurred.“

https://www.youtube.com/watch?v=Q_Ci9v4Z-hk”

![2021-02-14_004921](https://user-images.githubusercontent.com/50539888/107855624-8575c080-6e5e-11eb-88d5-0744533a14e1.jpg)

This

[2021-02-16 17:43] PDSCi996 commented on #34
I had another case of the same error today. I clicked to retry and it was useless. Later, I searched youtube and found the address of the video. After copying and pasting into the container, it can be downloaded normally. Is it because the format parameter is null?

[2021-02-17 01:01] nbr23 commented on #34
Strange, I am not having any issues. It is not linked to the format being null, that issue was fixed a while ago.
Have you tried updating the youtube-dl version (click on the version number at the bottom of the page)?
![image](https://user-images.githubusercontent.com/1313493/108141432-9e2ee200-70bb-11eb-8b74-253de8067476.png)

[2021-02-17 04:05] PDSCi996 commented on #34
Hello, I use flexget to push, the specific parameters are`curl -X POST --data-urlencode "url={{url}}" http://{{host}}:8080/youtube-dl/q
`，What youtube-dl receives is only the address but no video format parameters. I don’t know if the format parameters can be added directly to the curl command to solve the problem.

[2021-02-19 00:08] the-researcher opened #35 "Extent of the included API"
Hi nbr23!

On the main page, you provide guidance on how to send a URL to the docker image, along with the video format.

Knowing this, is it possible to parse specific commands that would override the defaults located in the `config.yml` file? By default, I would like to keep my current settings as default (1080, with .mp4), but there are times where I would prefer the 720 at .mp4 format for othe

[2021-02-19 00:18] nbr23 commented on #35
Hi @the-researcher,

You are right, format is the same as the dropdown menu. This should however help you in your use case as you could perhaps pick a lower quality format?

There are no other options supported through the API, and I probably will not be adding more.
youtube-dl's options are quite extensive and this would quickly become difficult to maintain and could create security issues on som

[2021-02-20 15:17] PDSCi996 commented on #34
I’m here to trouble you again. Today, I copied and pasted a new video from YouTube manually. An error occurred. The address is "https://www.youtube.com/watch?v=URBF93oWN5s", and the error message says to open "--verbose" Parameter, I added this parameter and got the following error code. It has been confirmed repeatedly that my youtube-dl is the latest version and there is no problem with the netw

[2021-02-21 10:48] PDSCi996 commented on #34
There have been new errors in the last few days and I have posted them all together, hoping to help improve the container.
The first one is to download the video "https://www.youtube.com/watch?v=drVY5gymo0g" today, prompting an error code，
![错误1](https://user-images.githubusercontent.com/50539888/108622294-c4190580-7472-11eb-806c-b4184197cc1e.jpg)
Then I changed the parameter "LANG=C.UTF=8" to "LA

[2021-02-23 13:05] redec opened #36 "Error on startup: database is locked"
I'm trying to run this on a raspberry pi - I built my own docker image (as there isn't one available for arm) but when I try to start the image I get this:

[code]

[2021-02-23 15:35] redec commented on #36
My bad....permissions issue

[2021-02-23 15:35] #36 closed

[2021-02-25 20:23] blackerking opened #37 "Handling multiple filenames"
Sometimes I am loading files with a master.m3u8 suddenly all files are named master but replaced by the last one.
It would be neat if the files getting a number after their name and not replaced.

[2021-02-25 22:38] nbr23 commented on #37
Hi @blackerking,
Do you know if youtube-dl has a way of handling this?
Do you have a master.m3u8 link you can share for testing?

Thanks,

[2021-02-28 16:48] nbr23 commented on #34
Hi @PDSCi996,

So there was definitely an issue when submitting a video without the format, if that download failed and you hit "retry", it would get confused and not find the format. This is fixed with https://github.com/nbr23/youtube-dl-server/commit/c8ac2fe94a5bee12121e83c25426ba1e1c59bec7

However the rest of your issues, I am not able to reproduce.
My encoding is utf-8 and I have no issues do

[2021-03-01 19:24] blackerking commented on #37
It seems youttube-dl has a -o for a named filename flag:
`youtube-dl -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]' -o video.mp4 https://www.youtube.com/watch?v=5yx6BWlEVcY`
Here is the files with the same name where I've discovered the "error":
- https://rbbmediaadp-vh.akamaihd.net/i/content/5f/63/5f631177-1902-44fb-8933-d42554078829/5f631177-1902-44fb-8933-d42554078829_,512k,128k,256k,1024k,1800k,.m

[2021-03-02 12:13] PDSCi996 commented on #34
The following is my specific configuration. My main application is to use in a Chinese environment. I don’t actually know what utf-8 is. I have found a way to add format parameters in flashget. I haven’t changed all the details yet. Today Just make a change and test it tomorrow.
Thank you again for your hard work.

[code]

[2021-03-03 01:08] nbr23 commented on #37
Hi @blackerking
Yeah unfortunately, without using the -o (which youtube-dl-server doesn't really allow at this point) it seems it will be tricky.
I tried to play with some of the [youtube-dl output templates](https://github.com/ytdl-org/youtube-dl/blob/master/README.md#output-template) but even with the `autonumber` it does not seem to download both videos if we pass the two links. The only thing

[2021-03-07 12:12] PDSCi996 commented on #34
Hello, there was a new error today. I downloaded a new YouTube video with the address "https://www.youtube.com/watch?v=hUq-mHlq5Fk". Below is the error code. I think the prompt seems to be Said the file name is too long.
![错误代码](https://user-images.githubusercontent.com/50539888/110239328-52b47900-7f81-11eb-8bc7-bbeb192c5aad.jpg)

[2021-03-11 02:19] nbr23 commented on #37
@jim60105 unfortunately the timestamp variable seems to be the timestamp of the video release, not timestamp of the execution of the download:

In addition, it seems it is not always set (in my couple of tests it was `NA`).

[2021-03-11 02:21] nbr23 commented on #37
`epoch` though seems to do the trick!

[2021-03-14 17:37] andrewstech opened #38 "Download instead of stream"
Hi on the Finished page is there a way to force the file to download as some browsers such as chrome try to stream the file instead.

[2021-03-17 17:53] andrewstech commented on #38
If it helps I found a guide to force browsers to download files in html.  https://gomakethings.com/how-to-force-a-file-to-download-instead-of-open-in-the-browser-using-only-html/

[2021-03-18 01:07] #38 closed

[2021-03-18 01:08] #35 closed

[2021-03-18 01:08] #37 closed

[2021-03-18 08:17] andrewstech opened #40 "Download button giving me txt files."
Hi I've just been testing out the new download button and found a odd glitch. If you requested a YouTube video to the flac audio format then the download button will give you a TXT file.

[2021-03-19 03:12] #40 closed

[2021-03-19 03:15] nbr23 commented on #40
Thanks @andrewstech for this report, that was interesting. I've added mailcap to the docker image, so that we have a populated /etc/mime.types, as the web server uses this to determine the file type!

[2021-03-20 00:03] #24 closed

[2021-04-14 07:34] DavidPackard opened #42 "Error when downloading with best audio"
Tried to download a video with the 'best audio' setting, and was met with this response.
Probably a bug, thought I'd let you know
![image](https://user-images.githubusercontent.com/33271469/114671582-681c8000-9d43-11eb-9ba2-f690493d751d.png)

[2021-04-14 12:47] nbr23 commented on #42
Thanks @DavidPackard , https://github.com/nbr23/youtube-dl-server/commit/62c0175a5d14578e106a2e1fd876a8afff6df0b9 should fix this issue.

[2021-04-14 12:47] #42 closed

[2021-04-16 03:07] judos opened #43 "login required"
Is there an easy way to configure logins for webpages where this is required?
I am not familiar with ffmpeg so far.

Thanks for your help! The Frontend is awesome btw!

[2021-04-19 01:40] g0d-m0nky commented on #43
hi, did you ever figure this out?

[2021-04-28 10:17] andrewstech opened #44 "Feature Request: Delete Button"
HI would it be possible to add a button to the finished videos page to delete videos.

[2021-04-30 10:51] judos opened #45 "app configuration docker-compose"
Hi, I think the repository REDAME is confusing regarding the configuration. I tried the following docker-compose.yml:
[code]
This is the one you provided in the README. But then I got the following error:
[code]
Which makes sense because the config.yml is readonly for the container. But also I don't want the container to overwrite the config I pass in. Besides the environment variable `- YDL_CONFI

[2021-05-02 20:10] #45 closed

[2021-05-02 20:10] nbr23 commented on #45
Thanks a bunch for finding this, fixed and closed :)

[2021-05-03 08:07] Ug0Security opened #46 "Stored XSS on url parameter"
Hey there,

if you pass a xss payload as url it well get stored and executed on the logs pages

POC :

![image](https://user-images.githubusercontent.com/28728543/116853763-e196e800-abf6-11eb-8b6b-78ce8e883fd4.png)

![image](https://user-images.githubusercontent.com/28728543/116853785-eb205000-abf6-11eb-8c5e-1f4eb4d3f9d6.png)

![image](https://user-images.githubusercontent.com/28728543/116853838-f

[2021-05-03 23:59] nbr23 commented on #46
Thank you so much for the report, this should now be fixed!

[2021-05-03 23:59] #46 closed

[2021-05-17 07:34] blackerking commented on #43
Hey there,
It would be a very bad idea to publish a plain http (unsecure) service in the web.
Most users have several services and use a https proxy for handling secure connections.
Inside such proxys (like Traefik or SWAG) you can add security features like password, OTP, etc.

On the otherside it is easy to hack a http password protection.

I don't like this idea.

[2021-05-17 13:05] nbr23 commented on #43
@judos can you clarify what you are looking for here?
Is it to specify credentials for video sources ?
Or is it like @blackerking mentionned to add login/password to the youtube-dl-server interface? If it is this case, then it will not be implemented, and should be handled by your reverse proxy as @blackerking mentionned.

Thanks!

[2021-05-17 16:03] judos commented on #43
Yes I meant a way to specify credentials for video sources. Like when I tried to download a video it said "login required".
Sorry I didn't paste the logs. Gonna post them next time when I have this issue.

[2021-05-22 04:05] Thespikedballofdoom opened #47 "Nitter"
I pulled my hair out all day looking for a way to download nitter videos quickly and easily. The original youtube-dl app supports the domains, why do none of the apps?

[2021-05-22 22:57] nbr23 commented on #47
hi @Thespikedballofdoom,
I don't know nitter, if possible, can you share a problematic link so I can debug?

Cheers!

[2021-05-22 23:25] Thespikedballofdoom commented on #47
https://nitter.domain.glass/EmperorLemon/status/1348827416844754944#m

[2021-05-23 15:10] nbr23 commented on #47
I just tried with the original `youtube-dl`, and I am not able to download the video. Can you confirm you can on your end? If so, which version of youtube-dl are you using?

[code]

[2021-05-23 18:14] Thespikedballofdoom commented on #47
Nvm, looks like i was using youtube-dlc. (that being said if its easy to implement it has like has more sites as options)

Thanks

[2021-05-23 19:23] nbr23 commented on #47
I see. You can use youtube-dlc, but you will need to build the docker image image yourself:
`docker build -t youtube-dlc-server --build-arg YOUTUBE_DL=youtube_dlc .`

I have stopped pushing youtube-dlc images as the youtube-dlc project seems inactive.

[2021-05-23 19:23] #47 closed

[2021-05-27 22:09] ksurl commented on #36
I am still getting this error on amd64 build. what permissions did you need to change? starting from a brand new container and default config. mapped file and the youtube-dl folder

[2021-05-27 22:19] ksurl commented on #36
I ended up editing the config.yml to change the folder of the metadata db to be in the same folder as the config file /app_config. shouldn't that be the default? and maybe rename /youtube_dl to /downloads or not require it as a volume in the Dockerfile (otherwise it creates a randomly named volume)

[2021-06-06 13:23] judos commented on #43
Found it finally again. I tried to download mp3 of this video:
https://www.youtube.com/watch?v=Nkwhj96kVyU

Log in the youtube-dl UI shows:
[code]

Is there a way how I can configure it to use my account?

[2021-06-06 15:52] nbr23 commented on #43
Hi @judos,

Thanks yeah I have something in mind to get this sorted out. I should have a fix soon.
Cheers,

[2021-06-10 13:06] blackerking commented on #34
@PDSCi996
Since PCs became a thing name and character save and display is a common problem.
UTF-8 or UTF-16 makes it possible to save and display most used languages.
Suddenly not all applications nor every OS is capable of using these charactersettings.

Maybe the youtube-dl standard (gui-less) version is better for you're usage.

Otherwise it could broke different things. In case some filesystem

[2021-06-22 01:00] #44 closed

[2021-06-22 06:05] andrewstech commented on #44
Thanks 😊

[2021-06-22 07:50] SugiuraAyano opened #49 "AttributeError: module 'ydl_server.views' has no attribute 'api_list_finished'"
I'm using this server on my synology nas docker and new update show this error message on startup

[code]
and server shutdowns

[2021-06-22 08:00] SugiuraAyano commented on #49
I've looking the lasted commit and seems you edit api_list_finished to front_finished in views.py

[2021-06-22 12:49] nbr23 commented on #49
woops, thanks for the report @SugiuraAyano, fixed here https://github.com/nbr23/youtube-dl-server/commit/a234d3e0a18b11c61177ae3f98e90db9e75744dd
Let me know if you still have issues!

[2021-06-22 13:05] xnaas commented on #49
I pulled and am using https://hub.docker.com/layers/nbr23/youtube-dl-server/youtube-dl/images/sha256-4b01699d8ea00d32523bb99d14d1a332a0d88417dd030099dae0732249a14698 and am still getting:

[code]

[2021-06-22 14:13] SugiuraAyano commented on #49
Thanks for quick reply. The new images in docker hub fix this issue
will close this now

[2021-06-22 14:13] #49 closed

[2021-06-22 14:14] nbr23 commented on #49
@xnaas just reran the github action to build and it seems good now.
Not sure whate happened the first time.

[2021-06-22 14:28] xnaas commented on #49
Working great again. Thanks. :)

[2021-06-25 12:08] blackerking opened #50 "Opus Quality is a mess"
Some time ago the standard opus files where in a good condition.
Now all downloaded files with this format has a very low quality(but a good file size 🤷‍♂️ ).

[2021-06-25 14:36] nbr23 commented on #50
Hi @blackerking,
I am not sure what issue you are reporting here or what you expect to be done at youtube-dl-server's level.

Thanks for any clarification :)

[2021-06-25 18:10] blackerking commented on #50
Did you changed some standard parameters?

[2021-06-25 20:23] nbr23 commented on #50
No changes on my end no. Might be in youtube-dl itself? or youtube?

[2021-07-28 07:22] blackerking commented on #50
It seems this problem is gone. I don't know where it came and how it is gone.

[2021-07-28 07:22] #50 closed

[2021-07-28 12:37] nbr23 commented on #50
Ok, thanks for the update!

[2021-08-12 12:02] PDSCi996 opened #52 "AtomicParsley - UnicodeDecodeError in some video downloads"
Today I upgraded the latest version of "youtube-dl_atomicparsley", and the following error message appears when downloading the video
"Error during download task:
UnicodeDecodeError:
'utf-8' codec can't decode bytes in position 4094-4095: unexpected end of data"
I hope it will be helpful to improve and trouble you.

[2021-08-13 19:24] nbr23 commented on #52
Hi @PDSCi996 do you have a specific video that causes the issue?
I just tried a random video and had no issues.

Thanks!

[2021-08-13 19:31] nbr23 commented on #52
Hi @PDSCi996  do you have a specific video that causes the issue?
I just tried a random video and had no issues.

Thanks!

[2021-08-24 02:08] nbr23 opened #53 "Alpine 3.14 on aarch64 - libsqlite segfault"
Documenting in case anyone else is having issues:

I have been experiencing segfaults and application crash on alpine 3.14 on aarch64 when doing simple selects with sqlite3 through python.
 dd4d3c745f3b4cfdf33842a654a11f50d8dc3d25 fixes this temporarily (by using alpine 3.13) until the libsqlite version gets bumped, or this problem gets sorted out.

[2021-09-09 01:00] NemesisRE opened #54 "[FEATURE] Set default format via config"
As I am mostly wanne download MP3 files it would be nice to be able to set the default selected format via config

[code]

[2021-09-10 12:43] Thespikedballofdoom commented on #54
is there a way to do something like this in the bookmarklet also

[2021-09-10 12:56] NemesisRE commented on #54
I have a bookmarklet for that

`javascript:fetch("https://[myhost]/youtube-dl/api/downloads",{body:newURLSearchParams({url:window.location.href,format:"MP3"}),method:"POST"});`

but despite the fact that the bookmarklet is not working for me (not even the default one), I still wish the config would allow to set a default format

[2021-09-13 23:35] #54 closed

[2021-09-13 23:36] nbr23 commented on #54
Thanks for the suggestion / issue @NemesisRE
This is now in place. In your case, you can use:

[code]

[2021-09-14 07:34] NemesisRE commented on #54
Nice, thank you 😀

[2021-09-15 13:15] yangchris4 commented on #43
thanks for providing this great project!  and it will be better if you can add the following  function.

1.using youtube cookies to download some age-confirmed videos;
2.youtube-dl can automatically move the video into the specified folder after downloading it.  (using --exec "mv {}  /,<path>" )

best wishes!
@nbr23

[2021-09-16 01:19] nbr23 commented on #43
@yangchris4 thanks for the suggestions!
1. is definitely planned… daytime work got in the way, but I should have this ready soon!
2. I'm not 100% sure (but happy to get convinced!) how this would be helpful compared to just changing the `output` location directly ?
[code]

Cheers!

[2021-09-16 08:27] yangchris4 commented on #43
hi @nbr23  thank you  for answering my question patiently.

`ydl_options:
  output: '/youtube-dl/%(title)s [%(id)s].%(ext)s'`

 nice try,however sometimes the video files are either separated from audio and video, or there are many fragments like m3u8, which means that after the download is completed, it needs to be merged twice;

if it is to download the file **directly to the vps local**, mergin

[2021-10-15 23:20] nickv2002 opened #56 "yt-dlp Update issue"
For whatever reason **yt-dlp** from pip requires `gcc` and `musl-dev` packages to install now.

So these are available here:
https://github.com/nbr23/youtube-dl-server/blob/47deb2f9ae363d968732146922c8f3652ffbe2df/Dockerfile#L8

But are not in the final docker file:
https://github.com/nbr23/youtube-dl-server/blob/47deb2f9ae363d968732146922c8f3652ffbe2df/Dockerfile#L20

Easy solution, add those pac

[2021-10-17 20:51] nbr23 commented on #56
Thanks for the report @nickv2002, this should be fixed with https://github.com/nbr23/youtube-dl-server/commit/4855344e1ebe094e1c7e464891df49b3b1e951e4

[2021-10-21 16:34] Fribb opened #57 "Videos Queued through the API are 720p!?"
I mainly use this container to automate the download of videos in channels that I have subscribed to on youtube with flexget. Flexget will run every hour and check for new videos and will send those videos to the API endpoint for downloading.

Today I was wondering why the quality wasn't as expected and pretty much since I switched to the container from the manbearwiz one the 27 videos that were d

[2021-12-03 02:53] #57 closed

[2021-12-03 02:54] #56 closed

[2021-12-09 07:26] XxAcielxX opened #58 "OCI Runtime create error, mounting directory to a file"
Hello,

I'm trying to get your container to run with the following compose:

[code]

I keep getting this error:
[code]

config.yml
[code]

Then I tried to create the container without mounting the `config.yml`, but again I get similar error. What's the issue here?

I have only a `root` user and the container is created with it.

Kindly help me out. Thanks

[2021-12-09 09:25] XxAcielxX commented on #58
I made some changes and now it seems to work. Here is what I have done.

Compose:
[code]

I added another volume `/downloads` and used it as output, because I didn't like how `.ydl-metadata.db`, `.cache`, `.python` were inside the output directory.

`config.yml`
[code]

[2021-12-10 07:01] It0w opened #59 "Switching to yt-dlp ?"
As described below, yt-dl is no longer actively maintained but has a "spiritual" successor.

https://github.com/ytdl-org/youtube-dl/issues/30317

---
Ah sorry just saw the docker container with yt-dlp.
Will look next time first and then write.

[2021-12-10 07:53] #59 closed

[2021-12-14 07:16] Naimkr27 opened #60 "run with User www-data"
Hello,

can i run the YouTube-DL with the User www-data?

What is the correctly Command?

Thanks Naimkr2709

[2021-12-24 04:05] nbr23 commented on #60
Hi @Naimkr27,

Sorry for the late reply! You should be able to accomplish this with the `--user ` parameter of the docker command-line.

docker-compose also allows this with the user directive.

[2021-12-27 08:08] Naimkr27 commented on #60
Hi, @nbr23,

thanks for the answer.

It is runing.

Best regards

[2021-12-27 08:08] #60 closed

[2022-01-18 11:32] #58 closed

[2022-02-08 20:50] gambra opened #61 "How to switch to yt-dlp?"
I saw the variable mentioned on the main page but I can't see to get it to apply, its still running youtube-dl. I'm likely doing it very wrong haha. Any advice?

[code]

[2022-02-09 07:01] blackerking opened #62 "How to update PIP?"
Hey,

when I am updating my youtube-dl instance I get this warning message:

[code]

How can I update the pip inside my container?

[2022-02-09 14:11] nbr23 commented on #62
Hey @blackerking, I've added the upgrade to the dockerfile https://github.com/nbr23/youtube-dl-server/commit/538a22a26dab39a65f9c20eb1cf4e4f6a7bffae0
Best way to upgrade pip from now on will be to rebuild (or pull) the image.

[2022-02-13 00:10] nbr23 commented on #61
Hi @gambra, can you let me know more about how you are using youtube-dl-server ? Are you using docker, or running it directly ?
Thanks!

[2022-02-21 15:09] quorn23 commented on #61
This looks like docker, as i'm facing the same issue

I see
`today at 16:07:32no such option: -u`

when using
`YOUTUBE_DL=yt-dlp python3 -u ./youtube-dl-server.py`
as environment variable in compose

I tried with just "yt-dlp" and that starts up with the note it can't find the module

[2022-02-21 15:49] nbr23 commented on #61
@quorn23 all you need to get yt-dlp is to use use the image `nbr23/youtube-dl-server:yt-dlp` instead of `nbr23/youtube-dl-server:latest`

Cheers!

[2022-02-21 16:02] quorn23 commented on #61
@nbr23 oh shame on me, i didn't even looked at the tags. That did the trick. Thanks!
Might be worth adding a note at the different forks section in the read me, for other lost sheeps :)

[2022-02-21 16:04] nbr23 commented on #61
will do, thanks!

[2022-02-24 06:31] simb24 opened #63 "Youtube download customisation"
In many attempts I didn't find way to download only H264+AAC mp4 formats video. How I can modify config.yml or any other way to achieving that. I use Synology NAS docker. Any options apart best, such as MP4, created video without audio. Actually for me it means that I can't use this docker. Thanks  in advance.

[2022-03-25 20:50] iaredavid01 commented on #63
@simb24 Check out youtube-dl's [documentation](https://github.com/ytdl-org/youtube-dl#format-selection). In your **config.yml** file you can try adding the following to the `ydl_options:` section
- This example is directly from youtube-dl's readme. It'll attempt to grab the highest quality mp4 video & m4a (aac) audio as separate streams first, otherwise the best quality mp4 file (based on a muxed

[2022-03-25 21:41] iaredavid01 opened #64 "Concurrent downloads"
I'm running in a Docker container and I'd like be able to download multiple, concurrent live streams. It'd be nice to set a number of concurrent downloads, or maybe allow live streams to be downloaded concurrently while the rest of the queue is sequential?

Right now, I'm getting around this by manually downloading the file by running a `docker exec yt-dlp ....` command, so I'm covered for now, bu

[2022-03-26 07:59] simb24 commented on #63
Thank you, unfortunately doesn't changed anything,  by choosing "best" the video is same as was before, as well as do not affected to any other options chosen. By choosing "MP4" the video is only 720p.
My targets is to be able choosing 1080 or less, AAC audio and h264 codec. A1 video and opus audio doesn't supported by my existed players. Any idea how I can achieve it?

[2022-03-27 16:02] Naimkr27 opened #65 "Cancel-Buttonn"
Hello,

Can you create a Button, who i can Cancel the Download?

thx

Naim

[2022-03-27 21:34] nbr23 commented on #65
Hi @Naimkr27,

Today it's not possible, but that's something I'm working on and should be doable soon.

Thanks!

[2022-04-02 21:51] Holovin commented on #19
So someone solve this problem?

[2022-04-05 09:38] blackerking commented on #62
Thank you.

[2022-04-05 09:38] #62 closed

[2022-05-06 04:42] redec opened #66 "yt-dlp armv7 image fails to update"
I've just switched to using the yt-dlp image on a raspberry pi, and the automatic update fails reliably with compile errors. It seems brotli and pycryptodomex do not have armv7 wheels available, so it attempts to compile them and fails because gcc is not in the image. The full error message is far too much to paste here, but this is the gist of it

[code]

The youtube-dl armv7 image does not have

[2022-05-06 12:12] nbr23 commented on #66
Hi @redec, thanks for the report, I'm going to look into this.

In the meantime, I've added a quick bypass so you can keep using it.
In your config.yml, add `no_updates: true` under `ydl_server`:L

[code]
And it will skip updates and let you start the app.

Thanks again, I'll work on a better fix soon.

[2022-05-22 22:34] nbr23 commented on #66
I removed the auto-update feature altogether as it was unstable and added issues more than anything.
Pulling the container will be the supported way to update youtube-dl/yt-dlp from now on.
Thanks!

[2022-05-22 22:34] #66 closed

[2022-05-29 07:44] xnaas commented on #65
This is a duplicate of #29, no?

[2022-07-06 15:18] notDavid opened #67 "Docker build with ffmpeg git master build to fix yt-dlp sponsorblock"
Hi there, currently there's a [bug in ffmpeg, which is used by yt-dlp](https://github.com/yt-dlp/yt-dlp/issues/871#issuecomment-1102417981), which causes Sponsorblock to fail.

Since it's going to take a while before the next major ffmpeg version is released, i was wondering if you would consider/it would be possible to make a Docker build/tag containing the ffmpeg master build?

What i manually r

[2022-07-08 01:05] nbr23 commented on #67
Thanks for the note @notDavid, do you have a test case for this so I can validate?

[2022-07-12 14:09] nbr23 commented on #67
Thanks again, latest images should be good to go! https://github.com/nbr23/youtube-dl-server/commit/04ff74192287e4504b8c1c0bd2003f5a0d4486d2

[2022-07-17 23:20] nbr23 commented on #67
I think it's fine to leave as is. I'll try to keep an eye on the ffmpeg fix's inclusion in stable. I think adding one more tag will be more confusing than anything, especially since it won't be needed once that fix is officially in.
If we end up having actual issues with ffmpeg, I'll do that, but in the meantime I'll keep to lowest effort ;)

Thanks again!

[2022-07-17 23:20] #67 closed

[2022-07-23 18:53] nbr23 commented on #61
https://github.com/nbr23/youtube-dl-server/commit/3ca97f493063600b577fba3396e19736449c3932

[2022-07-23 18:53] #61 closed

[2022-07-23 18:54] #65 closed

[2022-07-29 15:29] X-static opened #68 "Feature request: Conditional options"
Would it be too hard to add the possibility of conditional options depending on the website/extractor?

For example, being able to set different outputs or activate just certain options (as write-subs, concat, embed subs), since different extractors sometimes need specific options.

Sorry if it's a stupid idea.

[2022-08-21 19:45] twist3dimages opened #69 "How to enable age restricted content?"
I really like the UI for this and was wondering how to enable age-restricted downloads

[2022-08-23 13:43] nbr23 commented on #69
Hi @twist3dimages, have you tried setting age-limit to a high value?
https://github.com/nbr23/youtube-dl-server/blob/master/config.yml#L16

[2022-08-23 14:30] twist3dimages commented on #69
Thanks! Solved

[2022-08-23 14:30] #69 closed

[2022-08-23 14:35] twist3dimages commented on #64
I would like to know this as well

[2022-09-08 21:51] twist3dimages opened #70 "Concurrent Downloads"
Is there any way to allow multiple downloads?

[2022-09-08 22:19] nbr23 commented on #70
Hi @twist3dimages, there is not, and this is not something currently in progress.
There is another issue open here, so I will close this one, discussions can continue here https://github.com/nbr23/youtube-dl-server/issues/64

Thanks!

[2022-09-08 22:19] #70 closed

[2022-09-08 22:20] nbr23 commented on #64
Thanks, still considering this, I'll try to follow-up soonish!

[2022-09-08 23:14] twist3dimages commented on #64
Thank you!

[2022-09-10 01:05] twist3dimages commented on #64
Hey, not trying to be a dick or anything, but is there a reason why that functionality was removed from the manbearwiz fork?

[2022-09-10 01:51] nbr23 commented on #64
Hey, thx for following up here! Honestly I forked it 2yrs (?) ago, and don't remember removing this, so maybe it was added there post-fork? If the removal is on me, then my excuse is probably wanting to keep this as simple as possible. But I do think it makes sense to make this work, so I'll work this (back?) in!
Cheers, thanks again for pushing for improvements!

[2022-09-13 21:44] twist3dimages commented on #64
Thank you for being responsive, sorry if my last response came off harsh. I really appreciate it

[2022-09-14 10:31] oleg-fiksel opened #71 "Feature: update the yt_dlp (or youtube-dl) module"
It would be nice to have the feature to update the `yt_dlp` module without rebuilding the Docker container.
Something like this: https://github.com/ToWatchList/twl-dl-server/blob/main/ydl_server/ydlhandler.py#L80
Also, maybe, with an API endpoint: https://github.com/ToWatchList/twl-dl-server/blob/main/youtube-dl-server.py#L108

[2022-09-14 13:40] nbr23 commented on #71
Hi @oleg-fiksel,
I had this feature (as you can see in this fork https://github.com/ToWatchList/twl-dl-server/blob/main/youtube-dl-server.py#L108) but it proved to introduce issues when dependencies needed to be upgraded, to require a larger docker image for wheels building dependencies, etc.
It is usually preferred to upgrade docker deployed applications by pulling the latest image rather than mo

[2022-09-14 13:40] #71 closed

[2022-09-15 13:11] nbr23 commented on #29
Closing with https://github.com/nbr23/youtube-dl-server/commit/e71f625762509ccb158604f9cb31b7ea4e0e2f60

[2022-09-15 13:11] #29 closed

[2022-09-25 12:17] Fribb opened #72 "Support for different output folders"
My Workflow:

I use Flexget to monitor my Youtube Subscriptions through RSS feeds of the channels I am subscribed to. Flexget will check periodically for new videos and send those URLs to the youtube-dl-server docker container with `curl`. Those videos will be downloaded to the output directory specified in the `config.yml`. This output folder is watched by my Plex Media Server as a "youtube" libr

[2022-11-08 12:58] blackerking opened #75 "Adding Download-date column"
I share my youtube-DL App with some friends.
Suddenly some videos of mine are older than their.
So I have to "search" for them.

Is it possible to add a date of the download in the download list?
![grafik](https://user-images.githubusercontent.com/2019363/200570788-e45a4154-adb4-48b6-9208-93e1dbf789a3.png)

[2022-11-09 22:30] nbr23 commented on #75
hey @blackerking, not sure I follow what you are asking: we already have a Date column, what exactly are you looking to add ?

Thanks!

[2022-11-10 20:04] blackerking commented on #75
The Date is the upload date, not the date of the download.
I would like to sort the files with their download-date.

[2022-11-12 20:49] nbr23 commented on #75
Ahh I see. I guess we could remove the upload date entirely and just show download date right? I can't see much use for the upload date itself...

I'll look into this, thx!